<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
</head>
<h1> Welcome to Machine Learning Model APIs </h1>
<body>
    <p>In this Project, pretrained Torchvision model Resnet50 is uploaded and converted into API.
      <br>An image is passed and we can see the top 5 predictions made by the model. 
      <br>Click on the below buttons to see the input and Top 5 predicted outputs for that image. 
    </p>
    <form action="/input" method ="post">
      <input type="submit" value="Input Image">
    </form>
    <p></p>
    <form action="/predict" method ="post">
      <input type="submit" value="Predicted Outputs">
    </form>
</body>
</html>
